@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
.navbar {
    width: auto;
    height: 85px;
    background-color: white;
}

.navbariç ul {
    float: right;
    margin-right: 600px;
}
.dropdown-content {
    position: absolute;
    background-color: white;
    text-align: center;
    min-width: 160px;
    z-index: 1;
    font-size: 15px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 12px 36px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
}

.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Poppins';
    left: 75px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    text-align: center;
    min-width: 149px;
    z-index: 1;
    font-family: 'Poppins';
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins';
}

.dropdown-content a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}
.shopping li {
    list-style: none;
}

.shopping li i {
    color: black;
    float: right;
    position: relative;
    top: 35px;
    right: 300px;
    font-size: 20px;
}

.navbariç ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 50px;
}

.navbariç ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
}
.logo img {
    margin-top: 27px;
    margin-left: 65px;
}
.cizgi {
    right: 10px;
    position: relative;
    margin: 25px;
    width: auto;
    height: 3px;
    background-color: gray;
}
.kutu1 {
    margin: 70px;
    width: 320px;
    height: 500px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 10px;
}

.kutu1 img {
    position: relative;
    left: 11px;
    top: 20px;
}

.kutu1 a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 10px;
    top: 15px;
}

.kutu1 a:hover {
    color: red;
}

.kutu1 .kargo {
    font-family: sans-serif;
    position: relative;
    top: 25px;
    left: 10px;
    user-select: none;
}

.kutu1 .adidas {
    width: 75px;
    position: relative;
    left: 230px;
    top: -15px;
}

.kutu1 .para {
    color: red;
    font-family: sans-serif;
    position: relative;
    bottom: 10px;
    left: 10px;
    user-select: none;
}

.kutu2 {
    margin: 90px;
    width: 320px;
    height: 500px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 10px;
}

.kutu2 img {
    position: relative;
    left: 10px;
    top: 20px;
}

.kutu2 a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 10px;
    top: 15px;
}

.kutu2 a:hover {
    color: red;
}

.kutu2 .kargo {
    font-family: sans-serif;
    position: relative;
    top: 25px;
    left: 10px;
    user-select: none;
}

.kutu2 .adidas {
    width: 75px;
    position: relative;
    left: 230px;
    top: -15px;
}

.kutu2 .para {
    color: red;
    font-family: sans-serif;
    position: relative;
    bottom: 10px;
    left: 10px;
    user-select: none;
}

.kutu3 {
    margin: 70px;
    width: 320px;
    height: 500px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 10px;
    left: 150px;
}

.kutu3 img {
    position: relative;
    left: 10px;
    top: 20px;
}

.kutu3 a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 10px;
    top: 15px;
}

.kutu3 a:hover {
    color: red;
}

.kutu3 .kargo {
    font-family: sans-serif;
    position: relative;
    top: 25px;
    left: 10px;
    user-select: none;
}

.kutu3 .adidas {
    width: 75px;
    position: relative;
    left: 230px;
    top: -15px;
}

.kutu3 .para {
    color: red;
    font-family: sans-serif;
    position: relative;
    bottom: 10px;
    left: 10px;
    user-select: none;
}
.alt h2 {
    font-family: 'Poppins';
    position: relative;
    color: rgb(79, 74, 74);
    user-select: none;
    top: 45px;
    margin-left: 550px;
}
.kutu1 .adidas1 {
    width: 75px;
    position: relative;
    left: 230px;
    top: -15px
}

.bitispanel{
    right: 10px;
    top: 70px;
    position: relative;
    width: 1470px;
    height: 600px;
    border: solid black 3px;
    background-color: black;
}
.p1{
    color: white;
    position: relative;
    left: 20px;
    top: 20px;
    display: inline-block;
}
.txt{
    position: relative;
    right: 340px;
    top: 70px;
    border-radius: 15px;
    width: 370px;
    height: 50px;
    display: inline-block;
}
.buttonkayıt{
    border-radius:5px;
    width: 150px;
    height: 30px;
    position: relative;
    right: 605px;
    top: 140px;
    font-size: 15px;
    font-family: sans-serif;
}
.buttonkayıt:hover{
    color: black;
    background-color: red;
transition: 1s;
}
.ff1{
    color: white;
    position: relative;
display: inline-block;
right: 350px;
}
.ff2{
    color: white;
    display: inline-block;
    position: relative;
    right: 500px;
}
.ff3{
    color: white;
    display: inline-block;
    position: relative;
    left: 730px;
    bottom: 75px;
}
.bt1{
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    right:440px;
    top: 30px;
}

.bt2{
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    right:530px;
    top: 60px;
}
.bt3{
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    right:590px;
    top: 95px;
}
.bt4{
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    right:570px;
    top: 30px;
}
.bt5{
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    left:730px;
    bottom:20px;
}
.bt6{
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    left: 620px;
    top: 15px;
}
.bt7{
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    left: 660px;
    bottom:5px;
    
}
.bt8{
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    left: 600px;
    bottom: 45px;
}
.bt9{
    color: white;
    background-color: black;
    display: inline-block;
    position: relative;
    left: 555px;
    top: 35px;
}
.resim{
display: inline-block;
position: relative;
left: 700px;
}
.resim2{
    position: relative;
    top: 300px;
    right: 300px;
}
.kutualt1{
    width: auto;
    height: 120px;
    border:3px;
    position: relative;
    top: 65px;
    background-color:#f8f8f8;
}
.kutualt1 .satır1{
    position: relative;
    bottom: 50px;
    left:150px;
    display:inline-block;
    user-select: none;
}
.kutualt1 .satır2{
    display: inline-block;
    position: relative;
    right: 50px;
    bottom: 30px;
user-select: none;
}
.kutualt1 .satır3{
    display: inline-block;
    position: relative;
    bottom: 40px;
    left: 85px;
}
.satır4{
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 40px;
}
.satır5{
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 40px;
}
.img1{
    position: relative;
    left: 150px;
}
.img2{
    position: relative;
    left: 80px;
}
.img3{
    position: relative;
    left: 200px;
    top: 10px;
}
.img4{
    position: relative;
    left: 200px;
}
.usergiris{
    position: relative;
    right: 25px;
}